body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Navbar start */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff0000;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  align-items: center;
}

.burger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  margin-left: auto;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 10px;
  margin-right: 3%;
}

nav span a {
  color: white;
  text-decoration: none;
}

.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: lightblue;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  width: 50%;
}

.logo span b::after {
  content: "Gotovljska liga ⚽";
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    margin-right: 3%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #ff0000;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
    background-color: #333;
    padding: 0px;
    margin-top: 0px;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }
  .nav-links li {
    margin: 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }

  .nav-links li:hover {
    background-color: #ddd;
  }
  .nav b {
    font-size: 5px;
  }

  .logo span b::after {
    content: "Gotovljska liga";
  }
}

/* Navbar end */
/*
Players.js start
*/
.playerContainer {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.playerContainer h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.playerContainer h2 {
  color: #555;
  margin-bottom: 10px;
}

.player-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.player-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.player-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.player-button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.player:last-child {
  border-bottom: none;
}

.player span {
  display: flex;
  align-items: center;
}

.player span:first-child {
  font-weight: bold;
  width: 30%;
}

.player span:not(:first-child) {
  margin-left: 10px;
}

.deletePlayerBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #e9192d;
  transition: color 0.3s ease;
}

.player .goal {
  color: green;
}

.player .yellow-card {
  color: black;
}

.player .red-card {
  color: red;
}

@media only screen and (max-width: 1300px) {
  .playerContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 950px) {
  .playerContainer {
    width: 60%;
  }
}

@media only screen and (max-width: 780px) {
  .playerContainer {
    width: 75%;
  }
}

@media only screen and (max-width: 630px) {
  .playerContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 520px) {
  .playerContainer {
    width: 95%;
  }
}
/*
Players.js end 
*/

/* Leaderboard.js  start */
.leaderboard {
  display: flex;
  justify-content: center;
  width: 100%;
}

.leaderboard h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.leaderboard table {
  margin: auto;
  border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
}

.leaderboard th {
  background-color: #e9192d;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.leaderboard td {
  font-size: 1rem;
}

.points b {
  font-weight: 800;
}

.matchesPlayedTh::after {
  content: "Odigrane tekme";
}

.winsTh::after {
  content: "Zmage";
}

.drawsTh::after {
  content: "Remi";
}

.lossesTh::after {
  content: "Porazi";
}

.pointsTh::after {
  content: "Točke";
}

.goalsScoredTh::after {
  content: "Doseženi zadetki";
}

.goalsConcededTh::after {
  content: "Prejeti zadetki";
}

.goalDiffrenceTh::after {
  content: "Gol razlika";
}

.cardsTh::after {
  content: "Kartoni";
}

@media only screen and (max-width: 1350px) {
  .leaderboard table {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 1130px) {
  .leaderboard table {
    width: 60%;
  }

  .leaderboard th,
  .leaderboard td {
    padding: 8px;
  }
}

@media only screen and (max-width: 900px) {
  .leaderboard table {
    width: 50%;
  }

  .leaderboard th {
    font-size: 12px;
  }

  .leaderboard td {
    font-size: 12px;
  }
}

@media only screen and (max-width: 750px) {
  .leaderboard table {
    width: 95%;
  }
  .matchesPlayedTh::after {
    content: "OT";
  }
  .winsTh::after {
    content: "Z";
  }

  .drawsTh::after {
    content: "R";
  }

  .lossesTh::after {
    content: "P";
  }

  .pointsTh::after {
    content: "T";
  }

  .goalsScoredTh::after {
    content: "DZ";
  }

  .goalsConcededTh::after {
    content: "PZ";
  }

  .goalDiffrenceTh::after {
    content: "RVZ";
  }

  .cardsTh::after {
    content: "K";
  }

  .leaderboard th,
  .leaderboard td {
    padding: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .leaderboard th,
  .leaderboard td {
    padding: 8px;
  }
}
/* Leaderboard.js end

/* Team.js start  */

.teamContainer {
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 25%;
}

.teamTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.teamContainer form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.addTeamInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
  width: 60%;
}

.addTeamBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.addTeamBtn:hover {
  background-color: #218838;
}

.teamsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.teamList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f62217;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  border-radius: 5px;
}

.team:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.deleteTeamBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.deleteTeamBtn:hover {
  color: #a00;
}

@media only screen and (max-width: 1550px) {
  .teamContainer {
    width: 30%;
  }
}

@media only screen and (max-width: 1300px) {
  .teamContainer {
    width: 40%;
  }
}

@media only screen and (max-width: 960px) {
  .teamContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 770px) {
  .teamContainer {
    width: 60%;
  }
}

@media only screen and (max-width: 650px) {
  .teamContainer {
    width: 85%;
  }
}

@media only screen and (max-width: 450px) {
  .teamContainer {
    width: 95%;
  }
}

/* Team.js end  */

/* Round.js start  */

.matchdayTitle {
  display: flex;
  justify-content: center;
}

.dateInput {
  margin-left: 1rem;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.selectTeamList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  width: 20%;
}

.selectTeamList button {
  background-color: #e9192d; /* Zelena barva ozadja */
  border: none; /* Brez obrobe */
  color: white; /* Barva besedila */
  padding: 15px 32px; /* Notranje obrobe (zgoraj/spodaj, levo/desno) */
  text-align: center; /* Poravnava besedila na sredino */
  text-decoration: none; /* Brez podčrtaja */
  display: inline-block; /* Inline-block prikaz */
  font-size: 16px; /* Velikost pisave */
  margin: 4px 2px; /* Zunanji robovi (zgoraj/spodaj, levo/desno) */
  cursor: pointer; /* Spremeni kazalec miške v kazalec */
  border-radius: 12px; /* Zaobljeni robovi */
}

.selectTeamBtn:hover {
  background-color: #a00;
}

.showEditor,
.hideEditor {
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  overflow: hidden;
}

.hideEditor {
  max-height: 0;
  opacity: 0;
}

.showEditor {
  margin-left: 5px;
  max-height: 500px;
  opacity: 1;
}

.showEditorBtn,
.hideEditorBtn {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.showEditorDiv {
  border-bottom: 1px black solid;
}

.matchdayTable {
  width: 70%;
}

.confirmMatchday {
  border: none;
  padding: 10px;
  border-radius: 5px;
  min-width: fit-content;
  cursor: pointer;
  color: #ffffff;
  background-color: #4caf50;
}

.matchdayContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* Adds consistent spacing between the tables */
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.listOfMatchdays {
  width: 90%;
  cursor: pointer;
  border: 1px solid #ccc; /* Adds a border around each table container */
  padding: 1rem; /* Adds padding inside each table container */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.matchdayTable {
  width: 100%;
  border-collapse: collapse;
}

.matchdayTable th {
  background-color: #e9192d;
  color: #ffffff;
}

.matchdayTable td {
  background-color: lightblue;
}

.matchdayTable th,
.matchdayTable td {
  border: 1px solid #282c34;
  padding: 0.5rem;
}

.editMatchBtn {
  cursor: pointer;
  background: none;
  border: none;
  cursor: pointer;
}

.nextMatchdayAdmin {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
  width: 40%;
  margin: auto;
}

.nextMatchdayAdmin h2 {
  text-align: center;
}

.nextMatchdayAdmin div {
  width: 90%;
}
.nextMatchdayAdmin table {
  margin: auto;
}

.resultTd {
  text-align: center;
}
.freeTr {
  border: 1px black solid;
  background-color: lightblue;
}

.freeTr {
  border: 1px red solid;
}
.pinMatchday {
  display: flex;
  justify-content: end;
}

.editMatchTd {
  text-align: center;
}

@media only screen and (max-width: 1550px) {
  .matchdayContainer {
    width: 95%;
  }
  .listOfMatchdays {
    width: 100%;
  }
}

@media only screen and (max-width: 1380px) {
  .matchdayContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .matchdayContainer {
    width: 80%;
  }
  .listOfMatchdays {
    width: 90%;
  }
}

@media only screen and (max-width: 1180px) {
  .matchdayContainer {
    width: 90%;
    gap: 10px;
  }
  .listOfMatchdays {
    width: 95%;
  }

  .nextMatchdayAdmin {
    width: 60%;
  }
}

@media only screen and (max-width: 980px) {
  .matchdayContainer {
    width: 95%;
    gap: 10px;
  }

  .listOfMatchdays {
    width: 100%;
  }
}
@media only screen and (max-width: 870px) {
  .matchdayContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
  .listOfMatchdays {
    margin: auto;
    width: 80%;
  }
  .nextMatchdayAdmin {
    width: 80%;
  }

  .selectTeamList button {
    padding: 10px 20px; /* Notranje obrobe (zgoraj/spodaj, levo/desno) */
  }
}

@media only screen and (max-width: 650px) {
  .matchdayContainer {
    width: 95%;
  }

  .listOfMatchdays {
    width: 100%;
  }

  .nextMatchdayAdmin {
    width: 95%;
  }

  .selectTeamList button {
    font-size: 12px; /* Velikost pisave */
    padding: 10px 10px; /* Notranje obrobe (zgoraj/spodaj, levo/desno) */
  }
}

/* Round.js end  */

/* TopScorers.js start  */

.topScorersContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topScorersContainer h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.topScorersTable {
  width: 100%;
  border-collapse: collapse;
}

.topScorersTable th,
.topScorersTable td {
  padding: 12px;
  text-align: center;
}

.topScorersTable th {
  background-color: #e9192d;
  color: white;
  font-size: 18px;
}

.topScorersTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.topScorersTable tr:hover {
  background-color: #ddd;
}

.topScorersTable td {
  font-size: 16px;
}

/* TopScorers.js end  */

/* Matchdays.js end  */

.nextMatchday {
  display: flex;
  justify-content: center;
}

.nextMatchday h2 {
  text-align: center;
}

.nextMatchday div {
  width: 40%;
}
.nextMatchday table {
  margin: auto;
}

.matchdayBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.matchdayBtn {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #008cba;
  color: #ffffff;
}

.note {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
/* Matchdays.js end  */

/* Matches.js start  */

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Matches styles */

.resultsContainer {
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.resultsTitle {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.result span {
  padding: 5%;
}

.match {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #f0f8ff;
  transition: background-color 0.3s, transform 0.3s;
}

.note {
  min-width: 100%;
}

@media only screen and (max-width: 1450px) {
  .resultsContainer {
    width: 50%;
    margin: auto;
  }

  .scorersColumn {
    min-width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .resultsContainer {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .resultsContainer {
    width: 60%;
    margin: auto;
  }

  .match h2 {
    font-size: 1rem;
  }

  .matchScorers {
    width: 75%;
    font-size: 12px;
  }

  .scorersColumn {
    min-width: 80%;
  }

  .team1Scorers {
    min-width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .resultsContainer {
    width: 80%;
    margin: auto;
  }

  .match h2 {
    font-size: 1rem;
  }

  .matchScorers {
    width: 75%;
    font-size: 12px;
  }

  .scorersColumn {
    min-width: 80%;
  }

  .team1Scorers {
    min-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .matchScorers {
    font-size: 10px;
  }
}

@media only screen and (max-width: 520px) {
  .resultsContainer {
    width: 90%;
    margin: auto;
  }

  .match h2 {
    font-size: 1rem;
  }

  .matchScorers {
    width: 75%;
    font-size: 8px;
  }

  .scorersColumn {
    min-width: 80%;
  }

  .team1Scorers {
    min-width: 50%;
  }
}

.match h2 {
  color: #007bff;
  text-align: center;
  margin: 0 0 2rem 0;
}

.matchScorers {
  margin: auto;
}

.scorersColumn {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.team1Scorers {
  margin: auto;
  width: 40%;
}

.scorersColumn div {
  margin-bottom: 5px;
}

.goal {
  margin-left: 3px;
  color: green;
}

.yellow-card {
  color: gold;
}

.red-card {
  color: red;
}

.resultsContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Matches.js end  */

.players {
  width: 40%;
}

/* Match start */

.matchContainer {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.matchHeader {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  background-color: #343a40;
  width: 80%;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.match-header input[type="number"] {
  width: 50px;
  padding: 5px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
}

.confirmResult {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.disabledBtn {
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.teamNotAttend {
  display: flex;
  justify-content: center;
}

.teamNotAttend label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.teamNotAttend button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
  color: #ffffff;
  background-color: #e9192d;
}

.teamNotAttend button:hover {
  background-color: #a00;
}

.changedMatchData {
  margin-bottom: 3rem;
}

.changedMatchDataTeam1 {
  width: 50%;
  border: 1px red solid;
}

.editMatch {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.editMatchTeam {
  width: 70%;
}

.match-header button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.match-header button:disabled {
  background-color: #6c757d;
}

.teams-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.team-card {
  background-color: #fff;
  width: 48%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-card h2 {
  margin-top: 0;
}

.players .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.players .player:last-child {
  border-bottom: none;
}

.players .player span {
  cursor: pointer;
}

.players .player span:hover {
  color: #007bff;
}
/* must pay  */

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.players-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.players-list {
  list-style-type: none;
  padding: 0;
}

.player-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.player-name {
  font-weight: bold;
  font-size: 1.1em;
  color: #555;
}

.pay-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: #45a049;
}

.no-players-message {
  font-size: 1.1em;
  color: #888;
  text-align: center;
}

@media only screen and (max-width: 1310px) {
  .players-section {
    width: 50%;
  }

  .section-title {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 650px) {
  .players-section {
    width: 70%;
  }
}

@media only screen and (max-width: 450px) {
  .players-section {
    width: 80%;
  }
}

/* Mustpay end */

/* Login start */

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f0f0f0;
}

.loginBox {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  text-align: center;
}

.login-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.loginInput {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 25%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 1500px) {
  .loginBox {
    width: 30%;
  }
}

@media only screen and (max-width: 1000px) {
  .loginBox {
    width: 40%;
  }
}

@media only screen and (max-width: 750px) {
  .loginBox {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .loginBox {
    width: 70%;
  }
  .button {
    width: 35%;
  }
}

.button:hover {
  background-color: #0056b3;
}

/* Login end */
