body {
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #e9192d;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
}

nav span a {
  color: white;
  text-decoration: none;
}

nav span a:hover {
  color: greenyellow;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.list {
  display: flex;
  justify-content: end;
  width: 65%;
}

.logo {
  color: white;
  width: 30%;
}

/*
Players.js start
*/

.player {
  width: 30%;
  margin-bottom: 15px;
}

.player span {
  cursor: pointer;
}
.selected {
  border: 2px solid blue;
  border-radius: 4px;
}

/*
Players.js end 
*/
table {
  border-collapse: collapse;
}
td,
th {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}

.points {
  border: 5px solid black;
  color: black;
}

.leaderboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
  height: 50vh;
}

.leaderboard th {
  background-color: #e9192d;
  color: #fff;
}

.leaderboard tr {
  background-color: lightblue;
}
.leaderboard h1 {
}

/* Team.js start  */

.teamContainer {
  width: 30%;
  margin: auto;
}

.addTeamInput {
  border-radius: 10px;
  padding: 5px;
}

.teamContainer form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.teamTitle {
  text-align: center;
}

.teamList {
}

.team {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 65%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: lightcoral;
  color: #fff;
}

.showPlayersBtn {
  border-radius: 5px;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-color: #f39c12;
  color: #ffffff;
}

.deleteTeamBtn {
  border-radius: 5px;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  background-color: #e9192d;
  color: #fff;
}

.addTeam {
  border-radius: 5px;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-color: #2ecc71;
  color: #ffffff;
  margin-left: 5px;
}
/* Team.js end  */

/* Round.js start  */

.matchdayTitle {
  display: flex;
  justify-content: center;
}

.dateInput {
  margin-left: 1rem;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.selectTeamList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  width: 20%;
}

.selectTeamList button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  min-width: fit-content;
  cursor: pointer;
  color: #ffffff;
  background-color: #f39c12;
}

.showEditor,
.hideEditor {
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  overflow: hidden;
}

.hideEditor {
  max-height: 0;
  opacity: 0;
}

.showEditor {
  margin-left: 5px;
  max-height: 500px;
  opacity: 1;
}

.showEditorBtn,
.hideEditorBtn {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.selectTeamList button:hover {
  background-color: #2ecc71;
}

.matchdayTable {
  width: 70%;
}

.confirmMatchday {
  border: none;
  padding: 10px;
  border-radius: 5px;
  min-width: fit-content;
  cursor: pointer;
  color: #ffffff;
  background-color: #008cba;
}

.matchdayContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* Adds consistent spacing between the tables */
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem; /* Optional: Adds padding inside the container */
}

.listOfMatchdays {
  cursor: pointer;
  border: 1px solid #ccc; /* Adds a border around each table container */
  padding: 1rem; /* Adds padding inside each table container */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.matchdayTable {
  width: 100%;
  border-collapse: collapse;
}

.matchdayTable th {
  background-color: #e9192d;
  color: #ffffff;
}

.matchdayTable td {
  background-color: lightblue;
}

.matchdayTable th,
.matchdayTable td {
  border: 1px solid #282c34;
  padding: 0.5rem;
  text-align: center;
}

.editMatchBtn {
  cursor: pointer;
  background: none;
  border: none;
  cursor: pointer;
}

.nextMatchdayAdmin {
  display: flex;
  justify-content: center;
  border-top: 1px black solid;
}

.nextMatchdayAdmin h2 {
  text-align: center;
}

.nextMatchdayAdmin div {
  width: 40%;
}
.nextMatchdayAdmin table {
  margin: auto;
}

.freeTr td {
  background-color: lightblue;
  border: none;
}
.freeTr {
  border: 1px black solid;
}

/* Round.js end  */

/* TopScorers.js start  */

.topScorersContainer {
  display: flex;
  justify-content: center;
}

.topScorersTable {
  width: 100%;
  border-collapse: collapse;
}

.topScorersTable th {
  background-color: #e9192d;
  color: #ffffff;
}

.topScorersTable td {
  background-color: lightblue;
}
/* TopScorers.js end  */

/* Matchdays.js end  */

.nextMatchday {
  display: flex;
  justify-content: center;
}

.nextMatchday h2 {
  text-align: center;
}

.nextMatchday div {
  width: 40%;
}
.nextMatchday table {
  margin: auto;
}

.matchdayBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.matchdayBtn {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #008cba;
  color: #ffffff;
}
/* Matchdays.js end  */
